@font-face {
    font-family: 'SansPro Regular';
    src: local('SansPro-Regular'),
        url('../assets/font/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'SansPro Light';
    src: local('SansPro Light'),
        url('../assets/font/SourceSansPro-Light.ttf');
}

@font-face {
    font-family: 'SansPro Bold';
    src: local('SansPro Bold'),
        url('../assets/font/SourceSansPro-Bold.ttf');
}