.card-body {
  span {
    flex: 1 0 25%;
    font-size: small;
    text-align: center;

    &:first-child {
      text-align: start;
    }
  }

  .temp-number {
    max-width: 30px;
  }

  .pr-0 {
    padding-right: 0;
  }

  .pl-0 {
    padding-left: 0;
  }
}